mixin language-switcher(className='')
  div(class=`language-switcher ${className}`)
    select.language-switcher__select(name='language')
      option(value='English') EN
      option(value='Russian') RU
