mixin presale(className='')
  section(class=`presale ${className}`)
    h2.visually-hidden Presale
    p.presale__tagline Don't miss the <span class='text-highlight'>Presale</span>
    a.button.presale__button Buy NFT glasses
