mixin steps(className='')
  section(class=`steps ${className}`)
    h2.visually-hidden Guide
    ol.steps__list
      li.steps__item Sign-up and get your <span class='text-highlight'>free NFT glasses</span>
      li.steps__item Watch the feed and get the boxes <span class='text-highlight'>with LEE tokens</span>
      li.steps__item
        p.steps__text Buy your NFT glasses and <span class='text-highlight'>get LEE tokens</span> directly when watching the feed
        p.steps__smalltext The higher the rarityof your NFT glasses,the more points you get when leveling themup — the more tokens you can earn
      li.steps__item Upgrade your <span class='text-highlight'>NFT glasses</span>
      li.steps__item
        p.steps__text <span class='text-highlight'>Buy additional NFT glasses</span> to increase the amount of Attention and rewarded time of watching the feed
        p.steps__smalltext 1 Attention = <b>10 minutes</b> of rewarded feed viewing
