// Paths

$fonts: "../fonts";
$img: "../img";

// Layout

$desktop-width: 1352px;
$desktop-padding: 80px;

// Fonts

$font-montserrat: "Montserrat", "Arial", sans-serif;

// Colors

$color-black: #000000;

$color-cyan-500: #01ffc2;

$color-grey-100: #fcfcfd;
$color-grey-300: #bec6d6;
$color-grey-400: #7f8797;
$color-grey-500: #5e636e;

$color-pink-500: #ff0dff;
$color-pink-600: #43045b;

$color-purple-100: #7156fb;
$color-purple-400: #26125a;
$color-purple-500: #140132;

$color-red-500: #e11609;

$color-white: #ffffff;

// Animations

$transition-duration: 0.15s;
